
/* Basic doc stuff etc. */
/* Note to self; bij border radius is de rem: Top left, Top right, Bottom left, Bottom right */
* {
    box-sizing:border-box;
}
html {
    height:100%;
    position:relative;
    margin-top:100px;
    background-image:url(./../images/pexels-photo-6766456.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

header {
    text-align: center;
    background-color: #000000;
    border: 00FFFFFF;
    border-radius: 1rem 1rem 0 0;
    border-top: #000000;
    color:#ffffff;
    font-size:20px;
}

/* Begin vanaf article */

  article {
    left:10%;
    width: 300px;
    height:470px;
    display:flex;
    flex-direction:column;
    background:linear-gradient(rgb(209, 209, 209), rgb(108, 108, 108));
    box-shadow:0 0 20px 20px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 0 0;
    position: relative;
    transition:.25s;
    margin-bottom: 1rem;
    margin-top:7.5em;
    rotate: -8deg;
  }
  
  h1 {
    text-align: center;
  }

  /* Introduction H-koppen */

  .introduction {
    height: 400px;
    overflow-wrap:break-word;
    position:relative;

    
  }

  .introduction h1 {
    color:#000;
    z-index: 5;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    
  }

  .introduction h3 {
    width:8em;
    position:relative;
    transition:.25s .15s;
    align-items:baseline;
    text-align:right;
    left:10em;
    bottom:80px;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
  }

  /*content en stuff */


  .introduction img {
    width:100px;
    height:100px;
    top:20px;
    left:10px;
    border-radius:50%;
    line-height: 5rem;
    display:flex;
    justify-content: center;
    border:5px solid #000000;
    box-shadow:0 0 2px 2px rgba(0,0,0,.2);
    position:relative;
    transition:.25s .15s;
    align-items:baseline;
    object-fit: cover;
    
  }

  /*Paragraph */
   .introduction p {
        text-align: left;
        left: 10px;
        position: relative;
        display:block;
        bottom:40px;
        object-fit: contain;
        
        overflow-wrap:break-word;

    }  
    
  /*Foot fetish lmao, nee jk, tis de footer */

  footer {
    text-align: center;
    background-color: #000000;
    border: 00FFFFFF;
    border-radius: 0 0 1em 1em;
    border-top: #000000;
    color:#ffffff;
    font-size:20px;
    
  }
